<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="plumelog" class="com.plumelog.logback.appender.RedisAppender">
        <appName>plumelog</appName>
        <redisHost>127.0.0.1</redisHost>
        <redisAuth>pass1234</redisAuth>
        <redisPort>6379</redisPort>
        <runModel>2</runModel>
    </appender>
    <springProfile name="prd">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="plumelog"/>
        </root>
<!--        <logger level="DEBUG" name="org.hibernate.SQL">-->
<!--            <appender-ref ref="plumelog"/>-->
<!--        </logger>-->
<!--        <logger level="DEBUG" name="com.spa.demo">-->
<!--            <appender-ref ref="plumelog"/>-->
<!--        </logger>-->
    </springProfile>
    <springProfile name="dev">
    </springProfile>
</configuration>