<h2>Events (<%= events.length %>)</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead><tr><th>Id</th><th>Title</th><th>Start</th><th>End</th><th>Owner</th><th>Status</th><th></th></tr></thead>
		<tbody class="eventListContent">
		</tbody>
	</table>
</div>
<div class="col-sm-4">
	<a href="#/events/all">All</a> | <a href="#/events/Opening">Opening</a> | <a href="#/events/Closed">Closed</a>
</div>
<div class="col-sm-2 col-sm-offset-6">
	<a href="#/event/create">Add Event</a>
</div>